{% extends 'base.html.twig' %}

{% block body %}
    <div class="film-selected">
        <h2>Notre selection de film</h2>

        <div class="list-recently" style="height: 230px; overflow: auto;     width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;">
            {%  for film in listFilmSelected %}
                {% include 'include/film_block.html.twig' %}
            {% endfor %}
        </div>


    </div>
    <div class="film-recently">
        <h2>Ajouts récents</h2>
        <div class="list-recently" style="height: 230px; overflow: auto;     width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;">
            {%  for film in listFilmCurrent %}
                {% include 'include/film_block.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

