{% extends 'base.html.twig' %}

{% block body %}
    <div class="film-selected">
        <h2>Notre selection de film</h2>

    </div>
    <div class="film-recently">
        <h2>Ajouts récents</h2>

    </div>
{% endblock %}

