<div class="one-film">
    <a href="{{ path('film', { 'filmID': film.id }) }}">
        <img src="{{ film.image }}" width="250" height="150">
    </a>
    <a href="#">
        <p>{{ film.name }}</p>
    </a>
</div>
