body, html
{
    background-color: black !important;
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 1100px;
}
h1
{
    color: white !important;
}
a, h2,label, .grey
{
    text-decoration: none;
    color: #88898a;
}
nav ul
{
    list-style-type: none;
}

p
{
    color: white;
}

a:hover
{
    color: #eeeeee;
}


.body
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
}

.top_barre
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-search {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #a30d00;
    font-size: 12px;
    padding: 7px 12px 7px 12px;
    border: solid #a30d00 1px;
    text-decoration: none;
    background-color: black;
}

.btn-search:hover
{
    text-decoration: none;
}

.title-site
{
    background-color: #ffffffbd;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.list-search
{
    display: flex;
    width: 240px;
    justify-content: space-around;
    align-items: center;
}

.pagination
{
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}

.list-film
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-films
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.list-films-page
{
    justify-content: center !important;

}

.one-film
{
    padding-left: 20px;
    padding-right: 20px;
}

.film-block-one
{
    display: flex;
    justify-content: space-between;
}

.film-info
{

}

.film-block-two
{
    margin-top: 50px;
}
