{% extends 'base.html.twig' %}
{% block body %}
<h1>Le film : {{ filmName }} n'a pas été trouvé </h1>

    {% if filmFoundByName is not empty and filmFoundByName is defined %}
        <p>Voici les films qui pourrais correspondre à votre recherche</p>
        <ul class="list-films list-films-page">
            {% for film in filmFoundByName %}
                {% include 'include/film_block.html.twig' %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
