{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    <p> admin categories </p>
    {{ form(form) }}
{% endblock %}
